.App-header {
  display: flex;
  flex-direction: column; /* 要素を縦に並べる */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  font-size: 1.2rem; /* 文字サイズを大きく */
  padding: 10px 20px; /* 内側の余白 */
  margin-top: 15px; /* ボタンの上の余白 */
  cursor: pointer; /* カーソルをポインターに */
}